p {
    color: rgb(0, 0, 0);
  }
html {
    background-color: #000d10ed;
 }
h1 {
    margin: 0;
    padding: 2px 0;
    color: #000000;
    
  }
img {
    display: block;
    margin: 0 auto;                               
  }                      
html {
    /* px 表示“像素（pixels）”: 基础字号为 10 像素 */
    font-size: 10px;
    /* Google fonts 输出的 CSS */
    font-family: 'Open Sans', sans-serif;
  }
  h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p, li {
    font-size: 16px;
    /* line-height 后面可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
    line-height: 2;
    letter-spacing: 1px;
  }
  body {
    
width: 640px;
    
height: auto;
    
margin: 0 auto;
    
background-color: #83c6ed;
    
padding: 0px 0px 0px 0px;
    
border: 0px solid black;
  }
#rcorners1 {
    border-radius: 0px 0px 25px 25px;
    background: #ffffff;
    padding: 20px;
    width: 600px;
    height: 900px;
} 

body, html {
  scroll-behavior: smooth;
  font-family: Trebuchet MS,Arial,Helvetica,sans-serif,Microsoft YaHei;
}
header{
  display: flex;
  position: relative;
  margin: 0;
  height: 20%;
  width: 640px;
  color: #fff;
  background: linear-gradient(145deg,#80d0f1,#2f9ae8,#81cde5,#2f9ae8);
  border-radius: 0 0 2rem 2rem;
  align-items: center;
  overflow: hidden;
  -webkit-animation: wave-animation 2s ease infinite alternate;
  animation: wave-animation 2s ease infinite alternate;
  background-size: 400% 100%;
  background-position: 100% 50%;
}
h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
